<%- js('js/search') %>
<%- js('lib/jquery') %>

<div id="site_search">
	<label><h3>搜索</h3><input type="text" id="local-search-input" name="q" results="0" placeholder="search my blog..." class="form-control" autocomplete="off"/></label>

  <div id="local-search-result"></div>
</div>
<script type="text/javascript">      
     var search_path = "<%= config.search.path %>";
     if (search_path.length == 0) {
        search_path = "search.xml";
     }
     var path = "<%= config.root %>" + search_path;
        searchFunc(path, 'local-search-input', 'local-search-result');
</script>
